<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.layout == 'post' %}
    {% assign meta_title = page.title %}
    {% assign meta_author = page.author | default: site.author %}
    {% assign meta_description = page.excerpt | strip_html | truncatewords: 75 %}
    {% assign meta_url = site.url | append: site.baseurl | append: page.url %}
    {% assign meta_image = page.image | default: site.image %}
    {% assign meta_type = 'article' %}
    {% endif %}
    {% unless meta_image contains '://' %}
    {% assign meta_image = meta_image | prepend: site.url %}
    {% endunless %}
    <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ meta_title }}
    {% endif %}
    </title>
    <meta name="title" content="{{ meta_title }}" />
    <meta name="author" content="{{ meta_author }}"/>
    <meta name="description" content="{{ meta_description }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="{{ meta_type }}"/>
    <meta property="og:title" content="{{ meta_title }}"/>
    <meta property="og:description" content="{{ meta_description }}"/>
    <meta property="og:url" content="{{ meta_url }}"/>
    <meta property="og:image" content="{{ meta_image }}"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "
    /feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- <link href="{{ site.asset_url }}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/> -->

    <!--Style Setting-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ site.asset_url }}/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{{ site.asset_url }}/css/syntax.css" rel="stylesheet" type="text/css">
    <link href="{{ site.asset_url }}/css/main-style.css" rel="stylesheet" type="text/css">
    <link href="{{ site.asset_url }}/fonts/Kakao.css" rel="stylesheet" type="text/css">

    <meta name="google-site-verification" content="JA-V5lZPUQQup17t2s8Lh0eTODQbEEbu68z6begYslI" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-90553295-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>


